*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Fira Sans', sans-serif;*/


}
.main{
	width: 700px;
	margin: 5px auto 50px auto;
}
h2{
	text-align: left;
	padding:5px;
	font-family: Arial Black;

}

div.gallery {
  margin: 20px;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.card mb-3{
    max-width: 800px;
    padding-top: 100px;


}
.btn-outline-primary{
    text-align: center;
    width: 100%;
    height: 38px;
    background-color: white;
    border-width: medium;
    border-radius: 3px;

}
h7{
    font-weight: bold;
}
.input-group{
    height: 50px;
}
div.card-body{
padding-bottom: 50px;
}
h3{
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
}
.mains{
    width: 600px;
    margin: 5px auto 50px auto;
}
.card-bodies{
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.flags{
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    margin-left: 10px;
}
.boxContainer{
    border: 0.5px solid;
    border-color: #E9E9EA;
    border-radius:1.5px;
    height: 40px;


}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 17px;
}
.search:focus{
    outline: none;
}
@media(max-width:574px) {
    .btn-outline-primary {
        margin-bottom: 5px;
    }
}
.material-icons{
    padding-left: 50%;
    padding-top: 8px;
}
